.link {
  text-underline-offset: 0.2em;
}

.link--active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-style: normal;
  line-height: 1.33;
}

.header {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__menu-list {
  display: flex;
  list-style: circle;
  gap: 28px;
}

.header__menu-item:first-child {
  list-style: none;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 106px;
  color: var(--color-white);
  text-transform: uppercase;
  position: relative;
}

.cover::before {
  background-color: var(--color-black);
  opacity: 0.6;
  content: "";
  position: absolute;
  inset: 0;
}

.cover__title {
  z-index: 1;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.3em;
  line-height: 1.15;
  margin-right: -0.3em;
}

.cover__title-line:nth-child(2) {
  align-self: center;
}

.cover__title-line:nth-child(3) {
  align-self: end;
}

.cover__description {
  z-index: 1;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: 0.9em;
}

.cover__button {
  border: 1px solid var(--color-white);
  background: transparent;
  color: inherit;
  text-transform: inherit;
  padding: 12px 32px;
  transition-duration: 0.3s;
}

.cover__button:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.cover__button:active {
  transform: scale(0.95);
}

.lots {
  margin-top: 180px;
  padding-inline: 24px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.lots__item-wrapper {
  min-width: 334px;
  min-height: 596px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.lots__item-wrapper::before {
  background-color: var(--color-black);
  opacity: 0.6;
  content: "";
  position: absolute;
  inset: 0;
}

.lots__item-wrapper:nth-child(1) {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__item-wrapper:nth-child(2) {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__item-wrapper:nth-child(3) {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__item-link {
  z-index: 1;
  text-decoration: none;
}

.lots__item {
  color: var(--color-white);
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots__item-title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

.lots__item-description {
  font-size: 20px;
}

.lots__link {
  display: inline-block;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 30px;
  height: 100%;
}

.about {
  margin: 120px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
}

.about__logo-wrapper {
  margin: 35px auto;
  width: 240px;
  aspect-ratio: 1;
  background-color: var(--color-black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
}

.about__title {
  text-transform: uppercase;
  margin-block: 136px 100px;
  font-size: 40px;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.footer {
  padding: 0 50px 82px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.footer__socials-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-self: end;
}
