/* ================= ОБЩЕЕ ================= */

.link {
  text-underline-offset: 0.2em;
}

.link--active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.35;
}

/* ================= HEADER ================= */

.header {
  font-size: 18px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  padding-top: 4px;
}

.header__menu-item:first-child {
  list-style: none;
}

.header__logo-wrapper {
  justify-self: center;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* ================= COVER ================= */

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 165px 50px 50px;
  color: #fff;
  text-transform: uppercase;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover > * {
  position: relative;
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 0.3em;
}

.cover__title-line:nth-child(2) {
  align-self: center;
}

.cover__title-line:nth-child(3) {
  align-self: end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  word-spacing: 0.9em;
}

.cover__button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 12px 32px;
  text-transform: uppercase;
  cursor: pointer;
}

.cover__button:hover {
  background: #fff;
  color: #000;
}

/* ================= LOTS ================= */

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__title {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.lots__item-wrapper {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.lots__item-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.lots__item-wrapper:nth-child(1) {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__item-wrapper:nth-child(2) {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__item-wrapper:nth-child(3) {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__item-link {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 48px 40px;
}

.lots__item-title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots__item-description {
  font-size: 20px;
}

.lots__link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
}

/* ================= ABOUT ================= */

.about {
  margin: 120px 24px 180px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
}

.about__logo-wrapper {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin: 136px 0 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

/* ================= FOOTER ================= */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 80px;
  align-items: center;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__socials-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}
